Repository PrefectHQ/server, pull requests merged in 2020-12, with the labels that each got.

#144 Add shutdown flag for loop services
  changes/pr144.yaml
  src/prefect_server/api/runs.py
  src/prefect_server/services/loop_service.py
Labels: API

#146 Add support for hasura update operations: append, prepend, delete key, delete elem
  changes/pr146.yaml
  src/prefect_server/database/hasura.py
  src/prefect_server/database/orm.py
  tests/database/test_hasura.py
  tests/database/test_orm.py
Labels: database

#149 Add index on task run names for global search
  services/postgres/alembic/versions/2020-12-02T130956_add_index_for_task_run_names.py
Labels: migration

#145 Add support for configurable primary keys on ORM models
  changes/pr145.yaml
  src/prefect_server/database/orm.py
  tests/database/test_orm.py
Labels: database

#161 Add support for custom Hasura root fields
  changes/pr161.yaml
  src/prefect_server/database/hasura.py
  src/prefect_server/database/orm.py
  tests/database/test_orm.py
Labels: database

#163 Remove .get() and .exists() methods on hasura client
  src/prefect_server/database/hasura.py
  src/prefect_server/database/orm.py
  tests/api/test_flows.py
  tests/api/test_projects.py
  tests/api/test_runs.py
  tests/api/test_tenants.py
  tests/database/test_orm.py
  tests/graphql/test_flows.py
  tests/graphql/test_projects.py
  tests/graphql/test_runs.py
Labels: database

#164 Compatibility for 0.14
  .circleci/config.yml
  src/prefect_server/database/orm.py
  tests/api/test_runs.py
  tests/api/test_states.py
  tests/graphql/test_states.py
Labels: database

#166 Per flow-run run-configs
  changes/pr166.yaml
  services/hasura/migrations/versions/metadata-7ca57ea2fdff.yaml
  services/postgres/alembic/versions/2020-12-28T150027_add_run_config_to_flow_runs.py
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/runs.py
  src/prefect_server/database/models.py
  src/prefect_server/graphql/flow_groups.py
  src/prefect_server/graphql/runs.py
  src/prefect_server/graphql/schema/flows.graphql
  src/prefect_server/graphql/schema/runs.graphql
  tests/api/test_flow_groups.py
  tests/api/test_runs.py
  tests/graphql/test_flow_groups.py
  tests/graphql/test_runs.py
Labels: API, GraphQL, database, migration

#169 Flow Group schedule timezones
  Changelog.md
  changes/pr157.yaml
  changes/pr169.yaml
  src/prefect_server/api/flow_groups.py
  src/prefect_server/graphql/flow_groups.py
  src/prefect_server/graphql/schema/flows.graphql
  tests/api/test_flow_groups.py
  tests/graphql/test_flow_groups.py
Labels: API, GraphQL
