Repository PrefectHQ/server, pull requests merged in 2020-10, with the labels that each got.

#103 Run Labels refactor
  changes/pr103.yaml
  services/hasura/migrations/versions/metadata-24f10aeee83e.yaml
  services/postgres/alembic/versions/2020-09-30T123806_add_label_column_to_flow_runs.py
  src/prefect_server/api/cloud_hooks.py
  src/prefect_server/api/runs.py
  src/prefect_server/api/states.py
  src/prefect_server/cli/dev.py
  src/prefect_server/database/models.py
  src/prefect_server/database/orm.py
  src/prefect_server/graphql/agents.py
  src/prefect_server/graphql/runs.py
  src/prefect_server/graphql/schema/runs.graphql
  src/prefect_server/services/towel/lazarus.py
  src/prefect_server/services/towel/zombie_killer.py
  tests/api/test_runs.py
  tests/database/test_orm.py
  tests/fixtures/database_fixtures.py
  tests/graphql/test_runs.py
Labels: API, GraphQL, database, migration

#107 Fix agent config schema
  changes/pr107.yaml
  src/prefect_server/graphql/schema/agents.graphql
Labels: GraphQL

#108 Remove stale version locking
  src/prefect_server/api/deprecated/flows.py
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/states.py
  src/prefect_server/graphql/flows.py
  src/prefect_server/graphql/schema/flows.graphql
  tests/api/deprecated/test_flows.py
  tests/api/test_flow_groups.py
  tests/api/test_flows.py
  tests/api/test_states.py
  tests/graphql/test_flows.py
  tests/graphql/test_states.py
Labels: API, GraphQL

#111 Allow for scheduling different parameters and run labels at the same time
  changes/pr111.yaml
  src/prefect_server/api/flows.py
  tests/api/test_flows.py
Labels: API

#113 Flow group settings touchups
  changes/pr113.yaml
  src/prefect_server/api/__init__.py
  src/prefect_server/api/deprecated/__init__.py
  src/prefect_server/api/deprecated/flows.py
  src/prefect_server/graphql/flows.py
  tests/api/deprecated/test_flows.py
  tests/graphql/test_flows.py
Labels: API, GraphQL

#115 Properly check for agent id before updating flow run agent
  changes/issue114.yaml
  src/prefect_server/api/runs.py
Labels: API

#116 Add idempotency key to flows.create_flow
  changes/pr116.yaml
  src/prefect_server/api/flows.py
  src/prefect_server/graphql/flows.py
  src/prefect_server/graphql/schema/flows.graphql
  tests/api/test_flows.py
  tests/graphql/test_flows.py
Labels: API, GraphQL
