Repository PrefectHQ/server, pull requests merged in 2020-09, with the labels that each got.

#65 Fix flow run creation not using default flow group parameters
  changes/issue64.yaml
  src/prefect_server/api/runs.py
  tests/api/test_runs.py
Labels: API, GraphQL, database

#67 Fix bug with lazarus rescheduling flows with active tasks
  changes/pr67.yaml
  src/prefect_server/services/towel/lazarus.py
  tests/services/test_lazarus.py
Labels: bug

#63 Deprecate `api.flows` settings that are actually for flow groups
  changes/pr63.yaml
  src/prefect_server/api/__init__.py
  src/prefect_server/api/deprecated/flows.py
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/flows.py
  tests/api/deprecated/test_flows.py
  tests/api/test_flow_groups.py
  tests/api/test_flows.py
Labels: API

#71 Fix init for deprecated API module
  changes/pr71.yaml
  src/prefect_server/api/__init__.py
  src/prefect_server/api/deprecated/__init__.py
Labels: API

#72 Simplify run triggers
  changes/pr72.yaml
  services/hasura/migrations/versions/metadata-c1f317aa658c.yaml
  services/postgres/alembic/versions/2020-09-02T203435_simplify_run_state_update_triggers.py
  src/prefect_server/database/_models.py
  tests/api/test_states.py
  tests/database/test_run_timing_info_triggers.py
  tests/database/test_state_triggers.py
  tests/graphql/test_states.py
  tests/services/test_lazarus.py
Labels: database, migration

#82 Touch up agent schema to match Cloud
  src/prefect_server/api/agents.py
  src/prefect_server/database/__init__.py
  src/prefect_server/database/models.py
  src/prefect_server/graphql/agents.py
  src/prefect_server/graphql/schema/agents.graphql
Labels: API, GraphQL, database

#80 Use registered API endpoint instead of namespaced function
  src/prefect_server/api/flows.py
Labels: API

#73 Add query route for mapped children
  changes/pr73.yaml
  setup.py
  src/prefect_server/database/__init__.py
  src/prefect_server/database/postgres.py
  src/prefect_server/graphql/runs.py
  src/prefect_server/graphql/schema/runs.graphql
  src/prefect_server/graphql/schema/schema.graphql
  tests/graphql/test_runs.py
Labels: GraphQL, database

#88 Fix setting schedules to active
  changes/issue86.yaml
  src/prefect_server/api/flows.py
  tests/api/test_flows.py
Labels: API

#89 Use prefect.models in favor of database.models
  changes/pr89.yml
  src/prefect_server/api/agents.py
  src/prefect_server/api/cloud_hooks.py
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/flows.py
  src/prefect_server/api/logs.py
  src/prefect_server/api/messages.py
  src/prefect_server/api/projects.py
  src/prefect_server/api/runs.py
  src/prefect_server/api/states.py
  src/prefect_server/api/tenants.py
Labels: API

#93 Add index on `flow_run.agent_id`
  changes/pr93.yaml
  services/hasura/migrations/versions/metadata-9cb7539b7363.yaml
  services/postgres/alembic/versions/2020-09-16T171314_add_index_on_agent_id.py
Labels: migration

#77 Introduce API for setting flow run / task run names
  changes/pr77.yaml
  services/hasura/migrations/versions/metadata-e148cf9f1e5b.yaml
  services/postgres/alembic/versions/2020-09-03T095523_add_task_run_name.py
  src/prefect_server/api/runs.py
  src/prefect_server/database/models.py
  src/prefect_server/graphql/runs.py
  src/prefect_server/graphql/schema/runs.graphql
  tests/api/test_runs.py
  tests/graphql/test_runs.py
Labels: API, GraphQL, database, migration

#94 Replace all uses of database.models with prefect.models
  changes/pr94.yaml
  src/prefect_server/api/agents.py
  src/prefect_server/api/cloud_hooks.py
  src/prefect_server/api/deprecated/flows.py
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/flows.py
  src/prefect_server/api/runs.py
  src/prefect_server/api/states.py
  src/prefect_server/cli/dev.py
  src/prefect_server/database/hasura.py
  src/prefect_server/database/models.py
  src/prefect_server/graphql/flows.py
  src/prefect_server/services/agents/local_agent.py
  src/prefect_server/services/towel/lazarus.py
  src/prefect_server/services/towel/scheduler.py
  src/prefect_server/services/towel/zombie_killer.py
  src/prefect_server/utilities/events.py
  tests/api/deprecated/test_flows.py
  tests/api/test_cloud_hooks.py
  tests/api/test_flow_groups.py
  tests/api/test_flows.py
  tests/api/test_logs.py
  tests/api/test_messages.py
  tests/api/test_projects.py
  tests/api/test_runs.py
  tests/api/test_states.py
  tests/api/test_tasks.py
  tests/api/test_tenants.py
  tests/database/test_flow_run_insert_trigger.py
  tests/database/test_flow_traversal.py
  tests/database/test_hasura.py
  tests/database/test_orm.py
  tests/database/test_state_triggers.py
  tests/database/test_updated_triggers.py
  tests/fixtures/database_fixtures.py
  tests/graphql/queries/test_api.py
  tests/graphql/test_cloud_hooks.py
  tests/graphql/test_flow_groups.py
  tests/graphql/test_flows.py
  tests/graphql/test_logs.py
  tests/graphql/test_messages.py
  tests/graphql/test_projects.py
  tests/graphql/test_runs.py
  tests/graphql/test_states.py
  tests/service_tests/test_diamond.py
  tests/service_tests/test_pause.py
  tests/service_tests/test_simple_map.py
  tests/service_tests/test_simple_reduce.py
  tests/services/test_lazarus.py
  tests/services/test_scheduler.py
  tests/services/test_zombie_killer.py
Labels: API, GraphQL, database

#95 Match agents to existing entries during registration
  changes/pr.yaml
  src/prefect_server/api/agents.py
  src/prefect_server/graphql/agents.py
  tests/api/test_agents.py
  tests/fixtures/database_fixtures.py
Labels: API, GraphQL

#100 Changes to support the new RunConfig pattern in core
  changes/pr100.yml
  services/hasura/migrations/versions/metadata-850b76d44332.yaml
  services/postgres/alembic/versions/2020-09-21T145318_add_flow_run_config.py
  src/prefect_server/api/flows.py
  src/prefect_server/api/runs.py
  src/prefect_server/database/models.py
  tests/api/test_flows.py
  tests/graphql/test_flows.py
Labels: API, database, migration

#102 Update wording in error message
  src/prefect_server/api/flows.py
  tests/api/test_flows.py
Labels: API
