Repository PrefectHQ/server, pull requests merged in 2020-11, with the labels that each got.

#124 Update API import in graphql resolvers for agents and artifacts
  src/prefect_server/graphql/agents.py
  src/prefect_server/graphql/artifacts.py
Labels: GraphQL

#126 Add `core_version` to server api query
  changes/pr126.yaml
  src/prefect_server/graphql/query.py
  src/prefect_server/graphql/schema/schema.graphql
  tests/graphql/queries/test_api.py
Labels: GraphQL

#134 Fix scheduling duplicate runs with expired idempotency keys
  changes/pr134.yaml
  src/prefect_server/api/runs.py
  tests/api/test_flows.py
Labels: API

#143 2 New GraphQL Routes
  changes/pr143.yaml
  src/prefect_server/api/runs.py
  src/prefect_server/graphql/runs.py
  src/prefect_server/graphql/schema/runs.graphql
  tests/api/test_runs.py
  tests/graphql/test_runs.py
Labels: API, GraphQL
