Repository PrefectHQ/server, pull requests merged in 2021-03, with the labels that each got.

#202 Improve `delete_flow_run` performance by avoiding slow deletion triggers
  changes/pr202.yaml
  src/prefect_server/api/flow_groups.py
  src/prefect_server/api/flows.py
  src/prefect_server/api/runs.py
Labels: API

#206 Use `delete_flow_run` API to delete scheduled runs on archive
  changes/pr206.yaml
  src/prefect_server/api/flows.py
Labels: API

#207 Allow agents to be created with empty settings
  changes/pr207.yaml
  src/prefect_server/api/agents.py
Labels: API

#218 Fix situation where trigger doesn't fire if state version matches run
  changes/pr218.yaml
  services/hasura/migrations/versions/metadata-459a61bedc9e.yaml
  services/postgres/alembic/versions/2021-03-16T221106_improve_run_triggers_to_handle_same_.py
  tests/database/test_state_triggers.py
Labels: migration

#228 Delete flow group mutation
  changes/pr228.yaml
  src/prefect_server/api/flow_groups.py
  src/prefect_server/graphql/flow_groups.py
  src/prefect_server/graphql/schema/flows.graphql
  tests/api/test_flow_groups.py
  tests/graphql/test_flow_groups.py
Labels: API, GraphQL

#232 Schedule flow runs concurrently
  src/prefect_server/api/flows.py
  src/prefect_server/api/runs.py
Labels: API

#236 Log `set_schedule_active` failure while creating a flow
  changes/pr236.yaml
  src/prefect_server/api/flows.py
Labels: API
